@font-face{
	font-family:walking;
	src:url("Walking in the Street.ttf");
}
@font-face{
	font-family:OpenSans;
	src:url(OpenSans-SemiBold.ttf);
}
@font-face{
	font-family:OpenSansBold;
	src:url(OpenSans-Bold.ttf);
}
body{
	background:#fff;
	font-family:OpenSans;
	font-weight:bolder;
	margin:0;
	text-transform:uppercase;
}
.header{
	height:800px;
	background:url("road-sky-clouds-cloudy.jpg") center center;
	background-size:cover;
	background-attachment:fixed;
}
.mb1{
	display:inline;
	float:left;
	margin:0.6em 0 0 1em;
	width:65px;
	height:auto;
	opacity:0.45;
}
nav ul{
	display:inline;
	float:right;
}
nav ul li{
	display:inline-block;
	color:rgba(0,0,0,0.4);
	font-style:uppercase;
}
nav ul li a{
	text-decoration:none;
	color:rgba(0,0,0,0.4);
	padding:1em 1.5em;
	font-size:17;
}
#nu{
	padding:1em 1.5em;
	font-weight:bolder;
	color:rgba(0,0,0,0.4);
}
.headboi{
	font-family:walking;
	text-align:center;
	font-size:150px;
	color:rgba(0,0,0,0.5);
	clear:both;
	padding-top:0.9em;
	margin:0;
	font-weight:bold;
	text-transform:none;
}
.onder{
	color:rgba(0,0,0,0.5);
	font-weight:bolder;
	text-align:center;
	letter-spacing:4px;
	margin:0;
}
.section1{
	display:block;
	height:600px;
	background:#efefef;
	text-align:center;
	list-style-type:none;
}
.topbuy{
	display:inline-block;
	background-color:white;
}
.freebuy{
	background:white;
	border:2px solid black;
	font-family:OpenSansBold;
}
.standardbuy{
	background:white;
	border:2px solid black;
	font-family:OpenSansBold;
}
.probuy{
	background:white;
	border:2px solid black;
	font-family:OpenSansBold;
}
.section2{
	background:url(city-crossing-crossroad-road.jpg) center;
	background-size:cover;
	height:500px;
	background-attachment:fixed;
	display:grid;
}
footer{
	background:#222;
	background-size:cover;
	height:110px;
}
.samen{
	margin:30xp 40px;
}
.mb{
	width:65px;
	height:auto;
	opacity:0.4;
	margin-left:40px;
	margin-top:28px;
	float:left;
}
footer ul{
	margin:0 0 0 110px;
	padding:0;
  display:inline;
}
footer ul li{
	margin:45px 0 0 7px;
	display:inline-block;
	font-weight:bold;
	font-size:14px;
}
footer ul li a{
	text-decoration:none;
	color:#b1aca1;
}
.copyrigh{
	text-transform:lowercase;
	margin:0;
	font-family:roboto;
	margin-left:117px;
	color:rgba(177,172,161,0.5);
	opacity:0,1;
	font-size:15px;
}
